h2 {
    font-size: 100px;
    text-shadow: 0px 2px 2px #000000;
    color: #fff;
    text-align: center;
}
h3 {
    text-shadow: 0px 2px 2px #000000;
    color: #fff;
    text-align: center;
}
 
h4 {
    text-shadow: 0px 2px 2px #000000;
    color: #fff;
    text-align: center;
}

p{
    text-shadow: 0px 2px 2px #000000;
    color: #fff;
    text-align: center;
}

.rows {
    justify-content: center;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
 
 
::-webkit-scrollbar {display:none;}

h2, h3 {
    background-color: transparent;
}

.grow {
    transition: 1s ease;
    }
.grow :hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }

.page-title{
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding-top: 20px;
}

.cardgroup{
    width: 900px;
    padding-top: 50px;
    display: flex;
}

.about-card{
    background-color: #2f4858;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 2px 2px #000000;
    position: relative;
    width: 300px;
    justify-content: space-between;
}

.cardimage{
    padding-top: 10px;
}

.welcome{
    text-align: left !important;
    width: 500px !important;
}


.buttonUpdDel {
        display: flex;
        justify-content: space-evenly;
}

.cardWrapper {
    padding-top: 2rem;
}

.formWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
    top: 230px;
    display: flex;
    background: #0FA3B1;
    border: 5px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 20px;
}

.formGroup {
    color: #fff;
    background: transparent;
}

.formGroup-input {
    width: 300px;
    height: 40px;
    background: transparent;
    border: 4px solid #000000;
    border-radius: 12px;
    }

.label {
    background: transparent;

}

.submitButton {
    flex: 1, 100%;
    font-size: 25px;
    background: #2F4858;
    padding: 0px 11px;
    width: 300px;
    height: 60px;
    color: #fff;
    justify-content: center;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    text-shadow: 0px 2px 2px #000000;
    align-items: center;
    @media screen and (max-width: 768px) {
      display: none;
    }
}

.centeredForm {
    display: block;
    justify-content: center;
}

.path-list {
    list-style: none;
    font-size: 25px;
    padding-left: 2rem;
    color: #fff;
}

.path-list-text {
    width: 550px;
}

split {
    font-size: 2rem;
    text-shadow: 0px 2px 2px #000000;
    padding-right: 1rem;
    color:rgb(102, 207, 211)
}

li {
    padding-top: 6px;
}

.field {
    color: #fff;
}

